<ion-view view-title="访视列表">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="visit in projData.visits" type="item-text-wrap" ng-click="moduleList(visit.visitFlow)">
        <img src="img/F6.png">
        <h2>{{visit.visitName}} <img ng-if="visit.inputStatusId=='Submit'" src="img/gou.gif"></h2>
        <p>需登记表格数：{{visit.moduleList.length}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button  class="button-assertive" ng-click="submitVisit(visit.visitFlow)">
              提交
          </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
