<ion-view view-title="序号：{{projData.inputs.serial.serialNum}}">
  <ion-content class="padding">
      <div class="list">
          <div ng-repeat="attribute in projData.inputs.serial.attributes">
              <label class="item item-input item-stacked-label" ng-if="attribute.inputTypeId=='text' || attribute.inputTypeId=='date' ">
                  <span  class="input-label" ng-if="attribute.isViewName=='Y'"> {{attribute.attrName}}</span>
                  <input type="text" ng-if="attribute.inputTypeId!='date'" name="{{attribute.attrCode}}" ng-model="projData.serialDataForm[attribute.attrCode]" placeholder="请填写..." >
                  <input type="date" ng-if="attribute.inputTypeId=='date'" name="{{attribute.attrCode}}" format-date ng-model="projData.serialDataForm[attribute.attrCode]" placeholder="请填写..." >
              </label>
              <label class="item item-input item-select"  ng-if=" attribute.inputTypeId=='select' ">
                  <!--ng-if="attribute.isViewName=='Y'" -->
                  <div class="input-label" >
                      {{attribute.attrName}}
                  </div>
                  <select name="{{attribute.attrCode}}" ng-model="projData.serialDataForm[attribute.attrCode]" ng-options="t.codeValue as t.codeName for t in attribute.codes">
                      <!-- <option value="{{code.codeValue}}"     ng-repeat="code in attribute.codes">{{code.codeName}}</option>-->
                  </select>
              </label>
              <label class="item item-input item-stacked-label"  ng-if=" attribute.inputTypeId=='radio' ">
                  <div class="input-label" ng-if="attribute.isViewName=='Y'" >
                      {{attribute.attrName}}
                  </div>
                  <ion-list>
                      <ion-radio  name="{{attribute.attrCode}}" ng-model="projData.serialDataForm[attribute.attrCode]" value="{{code.codeValue}}" ng-repeat="code in attribute.codes" >{{code.codeName}}</ion-radio>
                  </ion-list>
              </label>
              <label class="item  item-stacked-label"  ng-if="  attribute.inputTypeId=='checkbox' ">
                  <div class="input-label" ng-if="attribute.isViewName=='Y'">
                      {{attribute.attrName}}
                  </div>
                  <ion-list>
                      <ion-checkbox  name="{{attribute.attrCode}}" ng-model="code.selected" ng-click="getCheckboxVal(projData.inputs.serial.elementCode,attribute.attrCode,true);"    ng-repeat="code in attribute.codes" >{{code.codeName}}</ion-checkbox>
                  </ion-list>
              </label>
          </div>
      </div>
  </ion-content>
</ion-view>