<ion-view view-title="序号：{{projData.inputs.serial.serialNum}}">
  <ion-content class="padding">
      <div class="list">
          <div ng-repeat="attribute in projData.inputs.serial.attributes">
              <label class="item item-input item-stacked-label" ng-if="!attribute.codes">
                  <span  class="input-label" ng-if="attribute.isViewName=='Y'">{{attribute.attrName}}</span>
                  <input type="text" ng-if="attribute.inputTypeId!='date'" name="{{attribute.attrCode}}" ng-model="projData.serialDataForm[attribute.attrCode]" placeholder="请填写..." >
                  <input type="date" ng-if="attribute.inputTypeId=='date'" name="{{attribute.attrCode}}" format-date ng-model="projData.serialDataForm[attribute.attrCode]" placeholder="请填写..." >
              </label>
              <label class="item item-input item-select"  ng-if="attribute.codes">
                  <!--ng-if="attribute.isViewName=='Y'" -->
                  <div class="input-label" >
                      {{attribute.attrName}}
                  </div>
                  <select name="{{attribute.attrCode}}" ng-model="projData.serialDataForm[attribute.attrCode]" ng-options="t.codeValue as t.codeName for t in attribute.codes">
                      <!-- <option value="{{code.codeValue}}"     ng-repeat="code in attribute.codes">{{code.codeName}}</option>-->
                  </select>
              </label>
              <!--
              <ion-item class="item-remove-animate  item-icon-right" >
                  <h2>我是分割线</h2>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                  <ion-option-button class="button-assertive" ng-click="remove(chat)">
                      Delete
                  </ion-option-button>
              </ion-item>
              -->
          </div>
      </div>
  </ion-content>
</ion-view>