<ion-view view-title="日常工作">
  <ion-content>
    <ion-list>
    <a class="item item-icon-left" href="javascript:void(0);">
        <i class="icon ion-compose"></i>
        工作日志
    </a>
    <a class="item item-icon-left" href="javascript:void(0);">
        <i class="icon ion-ios-clock-outline"></i>
        工作计划
    </a>
    <a class="item item-icon-left" href="javascript:void(0);">
        <i class="icon ion-ios-people-outline"></i>
        工作汇报
    </a>
    <a class="item item-icon-left" href="javascript:void(0);">
        <i class="icon ion-paperclip"></i>
        工作文件
    </a>
    </ion-list>
  </ion-content>
</ion-view>
